@using Newtonsoft.Json
@using TestsLib.Dto
@using TestsLib.Models
@model TestDto

<div class="d-block ml-5 text-center justify-content-center align-content-center">
    <form method="post"  asp-action="CreateNewTestPost">
        <input class="w-100" asp-for="Title" placeholder="Test name" />

        <div class="d-block ">

            <input asp-for="TitleImg" type="file" />
            <input placeholder="Test description" asp-for="Description"  />

            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                <div class="mt-2">
                    <input style="width:350px" class="text-center"
                           asp-for="@Model.Questions[i].QuestionDescription"
                     placeholder="Question title @i" />
                   

                    <div class="form-group d-flex">
                        @for (int j = 0; j < Model.Questions[i].Choice.Count; j++)
                        {
                            <input asp-for="@Model.Questions[i].Choice[j]"
                                                 placeholder="Variation @j" />
                        }
                    </div>
                </div>
            }

            <button class="w-25 bg-success rounded-2" type="submit"
                    name="action" value="AddQuestion">
                Add new question
            </button>
        </div>

        <div class="d-block">
            @for (int i = 0; i < Model.Tags.Count; i++)
            {
                <input asp-for="@Model.Tags[i]" placeholder="Tag" 
                        value="@Model.Tags[i]" />
            }
            <button name="action" class="bg-primary" 
            value="New Tag">New tag</button>
        </div>

        <button name="action" type="submit" id="submit-btn" 
                class="w-50 bg-info rounded-3"
                value="Submit"> Submit
        </button>
    </form>
   
 @*    <script>
        document.getElementById("submit-btn").addEventListener("click", () => {
            alert("test");

            fetch("https://localhost:7787/api/TestApi", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(@Html.Raw(JsonConvert.SerializeObject(Model))),
            })
        })
    </script> *@
</div>
